@tailwind base;
@tailwind components;
@tailwind utilities;

.hero-name {
  background: linear-gradient(to right, #4717f6, #6d1bea, #8523de, #962dd4, #a239ca);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}